.button {
    border-radius: 50%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 25px;
}

li a:hover:not(.active) {
    background-color: grey;
}

img hover:not(.active) {
    background-color: grey;
}

.active {
    background-color: white;
}

.column {
    float: left;
    width: 20%;
    padding: 8px;
}

.row {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

nav {
    display: flex;
}

.majornav {
    display:flex;
    flex-direction: row;
    align-contents: center;
    margin-top: 16px;
    margin-left: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

footer {
    display:flex;
    text-align: center;
}