.button {
    border-radius: 50%;
}

.card {
    font-size: 16px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 25px;
}

li a:hover:not(.active) {
    background-color: white;
}

.active {
    background-color: white;
}


/* Create three equal columns that floats next to each other */

.column {
    float: left;
    width: 25%;
    padding: 20px;
}

.row {
    align-items: center;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

nav {
    display: inline-flex;
}

.majornav {
    margin: 8px;
}

main {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

footer {
    display: flex;
    text-align: center;
}